{% extends 'layout.html' %}
{% block body %}
	<p> Welcome to my Amazon!</p>

	{% if session %}
	<p>Welcome {{ session['username']}}</p>
	<p> You've logged in as {{ session['c_type']}}</p>
	{% else %}

	<p>Have an account? Please login</p>

	<form action="/login" method="POST">
		<input type="text" name="username" placeholder="enter username here ..."><br>
		<input type="password" name="password" placeholder="enter password here ..."><br>
		<input type="submit" value="Login">
	</form>

	<p>No account! Sign Up! </p>

	<form action="/signup" method="POST">
		<input type="text" name="username" placeholder="username...."><br>
		<input type="text" name="full_name" placeholder="full_name...."><br>
		<input type="text" name="email" placeholder="email here...."><br>
		<input type="password" name="password1" placeholder="enter password...."><br>
		<input type="password" name="password2" placeholder="enter password...."><br>
		<p>Buyer<input type="radio" name="c_type" value="buyer"></p>
		<p>Seller<input type="radio" name="c_type" value="seller"></p>
		<input type="submit" value="Signup">
	</form>

	{% endif %}

{% endblock body %}