{% extends 'layout.html' %}

{% block body %}

{% if products.count()!=0 %}

{% for product in products %}

<ul>
	<li><b> Product Name </b>: {{product['name']}} </li>
	<li><b> Product Price </b>: {{product['price']}}</li>
	<li><b> Product Info </b>: {{product['info']}}</li>
	<li><b> Product Seller </b>:{{product['seller']}} </li>

</ul>
	
	{% if session['c_type'] == 'seller' %}
	<form action="/remove" method="POST">
		<input type="hidden" name="name" value="{{product['name']}}">
		<input type="submit" value="remove product">
	</form>
	{% else %}
	<form target="_new" action="/cart" method="POST">
		<input type="hidden" name="name" value="{{product['name']}}">
		<input type="submit" value="Add to cart">
	</form>
	{% endif %}

{% endfor %}

{% endif %}

{% endblock body %}